<div id="handle-dialog-modal">
  <div class="handle-dialog-modal-content">
    <p>
      <i class="fa fa-spinner fa-spin fa-4x"></i>
      <span>系统处理中，请稍候...</span>
    </p>
  </div>
</div>
<div id="dialog-overlay"></div>