<p id="notice"><%= notice %></p>

<div id="downtime_types">
  <ol class="breadcrumb">
    <li>基础数据</li>
    <li><%= link_to '停机类型', downtime_types_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <form>
    <fieldset>
      <legend style="width: 180px;">{{action}}</legend>
      <div>
        <b>选择数据文件：</b>
        <input id="item-data-uploader" type="file" name="files[]" data-url="/downtime_types/import"/>


        <hr/>
        <div id="item-data-uploader-preview"></div>
        <div>
          <b>下载模板：</b>
          <a href="/files/<%= ImportTemplate.downtime_type_excel_template %>">
            <%= ImportTemplate::DOWNTIME_TYPE_EXCEL_TEMPLATE %></a>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    data_upload("#item-data-uploader");
  });
</script>
