<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
  <!--<strong>Name:</strong>-->
  <!--<%#= @user.name %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Role:</strong>-->
  <!--<%#= @user.role %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Email:</strong>-->
  <!--<%#= @user.email %>-->
<!--</p>-->

<%#= link_to 'Edit', edit_user_path(@user) %>
<!--<%#= link_to 'Back', users_path %>-->
<%= render 'form', user: @user %>

<script type="text/javascript" charset="utf-8">
  $('.breadcrumb li').last().html('盘点区域详情');

  $('input').attr('disabled', 'disabled');

  $('select').attr('disabled', 'disabled');

  $('.marco-btn-normal').css({display: 'none'});

  $('.marco-npanel-default a').remove();
</script>
