<p id="notice"><%= notice %></p>

<%= render 'form', downtime_record: @downtime_record %>

<script type="text/javascript" charset="utf-8">
  $('.breadcrumb li').last().html('停机记录详情');

  $('input').attr('disabled', 'disabled');

  $('.marco-btn-normal').css({display: 'none'});
</script>