
<%= render 'form', inventory_item: @inventory_item %>

<script type="text/javascript" charset="utf-8">
  $('.breadcrumb li').last().html('资产盘点详情');

  $('input').attr('disabled', 'disabled');

  $('select').attr('disabled', 'disabled');

  $('.marco-btn-normal').css({display: 'none'});

  $('.marco-npanel-default a').remove();
</script>




<!--<p id="notice"><%#= notice %></p>-->

<!--<p>-->
  <!--<strong>Inventory list:</strong>-->
  <!--<%#= @inventory_item.inventory_list %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Fix asset track:</strong>-->
  <!--<%#= @inventory_item.fix_asset_track %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Cap date:</strong>-->
  <!--<%#= @inventory_item.cap_date %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Profit center:</strong>-->
  <!--<%#= @inventory_item.profit_center %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Asset description:</strong>-->
  <!--<%#= @inventory_item.asset_description %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Acquis val:</strong>-->
  <!--<%#= @inventory_item.acquis_val %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Accum dep:</strong>-->
  <!--<%#= @inventory_item.accum_dep %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Book val:</strong>-->
  <!--<%#= @inventory_item.book_val %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts equipment nr:</strong>-->
  <!--<%#= @inventory_item.ts_equipment_nr %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts project:</strong>-->
  <!--<%#= @inventory_item.ts_project %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts inventory user:</strong>-->
  <!--<%#= @inventory_item.ts_inventory_user %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts keeper:</strong>-->
  <!--<%#= @inventory_item.ts_keeper %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts position:</strong>-->
  <!--<%#= @inventory_item.ts_position %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts nameplate track:</strong>-->
  <!--<%#= @inventory_item.ts_nameplate_track %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts type:</strong>-->
  <!--<%#= @inventory_item.ts_type %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts equipment type:</strong>-->
  <!--<%#= @inventory_item.ts_equipment_type %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts area:</strong>-->
  <!--<%#= @inventory_item.ts_area %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts supplier:</strong>-->
  <!--<%#= @inventory_item.ts_supplier %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Status:</strong>-->
  <!--<%#= @inventory_item.status %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Remark:</strong>-->
  <!--<%#= @inventory_item.remark %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Ts inventory result:</strong>-->
  <!--<%#= @inventory_item.ts_inventory_result %>-->
<!--</p>-->

<%#= link_to 'Edit', edit_inventory_item_path(@inventory_item) %> |
<!--<%#= link_to 'Back', inventory_items_path %>-->
