<p id="notice"><%= notice %></p>

<div id="inventory_lists">
  <ol class="breadcrumb">
    <li>盘点管理</li>
    <li><%= link_to '盘点列表', inventory_lists_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <form>
    <fieldset>
      <legend style="width: 180px;">{{action}}</legend>
      <div>
        <b>请选择数据文件：</b>

        <input id="item-data-uploader" type="file" name="files[]" data-url="/inventory_lists/import"/>

        <hr class="hr-grey"/>

        <div id="item-data-uploader-preview"></div>

        <b>下载模板：</b>
        <a href="/files/<%= ImportTemplate.inventory_item_excel_template %>">
          <%= ImportTemplate::INVENTORY_ITEM_EXCEL_TEMPLATE %></a>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    data_upload("#item-data-uploader");
  });
</script>