<p id="login-notice"><%= notice %></p>

<% if current_user.group_id == UserGroupEnum::FIXASSET %>
    <h1 style="font-size: 46px; align-content: center ">固定资产系统</h1>
<% else %>
    <h1 style="font-size: 46px; align-content: center ">OEE系统</h1>
<% end %>

<script type="text/javascript" charset="utf-8">
    layout.notice('popMsg-success', $('#login-notice').html());
</script>