<p id="notice"><%= notice %></p>

<div id="machines">
  <ol class="breadcrumb">
    <li>基础数据</li>
    <li><%= link_to '机台信息', machines_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <form>
    <fieldset>
      <legend style="width: 130px;">{{action}}</legend>
      <div>
        <b>选择数据文件：</b>
        <input id="item-data-uploader" type="file" name="files[]" data-url="/machines/import"/>

        <hr/>

        <div id="item-data-uploader-preview"></div>
        <div>
          <b>下载模板：</b>
          <a href="/files/<%= ImportTemplate.machine_excel_template %>">
            <%= ImportTemplate::MACHINE_EXCEL_TEMPLATE %></a>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    data_upload("#item-data-uploader");
  });
</script>