<h1>Editing Equipment Depreciation</h1>

<%= render 'form', equipment_depreciation: @equipment_depreciation %>

<%= link_to 'Show', @equipment_depreciation %> |
<%= link_to 'Back', equipment_depreciations_path %>
